server inner-tunnel {
  authorize {
    chap
    mschap
    suffix
    eap
    update control {
      Proxy-To-Realm := LOCAL
    }
    sql
    pap
  }

  authenticate {
    Auth-Type PAP {
      pap
    }

    Auth-Type CHAP {
      chap
    }

    Auth-Type MS-CHAP {
      mschap
    }

    Auth-Type EAP {
      eap
    }
  }

  session {
    sql
  }

  post-auth {
    sql
  }
}
